<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32000">
    <setting id="ui_language" type="select" label="32016" lvalues="32017|32018|32019" default="0"/>
    <setting id="base_url" type="text" label="32001" default="http://127.0.0.1:13378"/>
    <setting id="auth_mode" type="select" label="32002" lvalues="32014|32015" default="0"/>
    <setting id="api_key" type="text" label="32003" default="" option="hidden"/>
    <setting id="username" type="text" label="32004" default=""/>
    <setting id="password" type="text" label="32005" default="" option="hidden"/>
    <setting id="token" type="text" label="32006" default="" visible="false"/>
  </category>

  <category label="32007">
    <setting id="progress_sync_interval" type="number" label="32008" default="30"/>
    <setting id="mark_finished_threshold" type="number" label="32009" default="97"/>
  </category>

  <category label="32010">
    <setting id="strm_export_path" type="folder" label="32011" default=""/>
    <setting id="strm_include_podcasts" type="bool" label="32012" default="true"/>
    <setting id="strm_include_audiobooks" type="bool" label="32013" default="true"/>
    <setting id="strm_export_nfo" type="bool" label="32025" default="true"/>
    <setting id="strm_export_cover" type="bool" label="32026" default="true"/>
    <setting id="strm_export_chapters" type="bool" label="32027" default="true"/>
    <setting id="strm_export_m3u" type="bool" label="32028" default="true"/>
    <setting id="strm_auto_sync" type="bool" label="32020" default="false"/>
    <setting id="strm_auto_sync_interval_hours" type="number" label="32021" default="24"/>
    <setting id="strm_last_auto_sync_ts" type="text" label="32022" default="0" visible="false"/>
  </category>

  <category label="32024">
    <setting id="debug_logging" type="bool" label="32023" default="false"/>
  </category>
</settings>
